

body{
	background-color: #F6e8cf;
	font-family: "tgn-soft-round", sans-serif;
}

header{
	position: fixed;
}

.container{
	/*width:978px;*/
	width:95.5%;
	margin-left:auto;
	margin-right:auto;
}

.navBar{
	border-bottom: solid
}

.container{
	margin-left:auto;
	margin-right:auto;
}

.flexParent{
	display: flex;
	justify-content: space-between;
}

.feature{
	background-color: #F6e8cf;
}

.featureText{
	width: 31.2883%;
	height: 100vh;
	border-right: dotted;
}


.title{
	height: 30%;
	border-bottom: dotted;
	display: flex;
    flex-direction: column;
    justify-content: center;
	padding-right: 3.0675%;
}

.title h1{
	font-size: 4vw;
	font-weight: 800;
}

.location{
	border-bottom: dotted;
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 3.0675%;
}

.location h2{
	font-size: 2.5vw; 
	/* margin-bottom: 0.5vw; */
}

.location h3{
	font-size: 1vw;
	/* margin-bottom: 0.25vw; */
}

.info{
	display: flex;
	height: 20%;
    flex-direction: column;
    justify-content: center;
	padding-right: 3.0675%;
	border-bottom: dotted;
}

.info h1{
	font-size: 3vw;
	font-weight: 800;
}

.info h3{
	font-size: 1vw;
}

.para{
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 3.0675%;
	border-bottom: dashed;
}

.para p{
	font-size: 1vw;
}

.viewProjects{
	height: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-right: 3.0675%;
}

.viewProjects a{
	text-decoration: none;
	color: #000;
}

.blob{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 65.6442%;
}

.blob img{
	height: 55vw;
	width: 55vw;
	object-fit: cover;
}




/*------ Feature Area 2 */

.feature2{
	display: none;
}

.titleBlurb h1{
	font-size: 3vw;
}

.titleBlurb{
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: dotted;
	padding-right: 3.0675%;
}

.blurbDesc{
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: dotted;
	padding-right: 3.0675%;
}

.viewProject2{
	height: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*--- big grid area */


/*Grid Holder*/

.pjwrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	row-gap: 10px;
	column-gap: 20px;

	width: 80vw;
	margin-left:auto;
	margin-right:auto;
}

/*Individual square holder*/

.photoHolder{
	width: 7vw;
	padding-top: 2vw;
	padding-bottom: 2vw;
	padding-right: 2vw;
	padding-left: 2vw;

	color: white;
	background-color: red;
	text-decoration: none;

	font-size: 10pt;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.25vw;
	background-size: 100%;

	cursor: pointer;
}

/*Logo holder with hovers*/


.CharGreen:hover{
	background-image: url(../images/NMC.png);
}

.CharGreen p:hover{
	opacity:0;
}


/*Designer PopUp*/

.tradeGothicHeavy{
	font-family: "tgn-soft-round", sans-serif;
	font-weight: 800;
	font-style: normal;
	color: #4B3D37;
}

.tradeGothicBold{
	font-family: "tgn-soft-round", sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #4B3D37;
}

.tradeGothicRegular{
	font-family: "tgn-soft-round", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #4B3D37;
}


.designerPageHolder{
	width:100%;
}

.designerInfoHolder{
	background-color: #FDF9F0;
}

.projectImagesHolder{
	background-color: #DB170B;
}

.logoPop{
/*	background-color: #DB170B;*/
}


.flexParent{
	display:flex;
	align-items: flex-start;
}

.closePopButton{
	text-decoration:none;
}

	.closePopButton{
		margin-top:3%;
		margin-left:5%;
		float:left;
		font-size: 1.25vw;
	}

	.designerInfoHolder{
		width:50%;
		height: 100vh;
	}

	.projectImagesHolder{
		width: 50%;
		height: 100vh;
	}

	.designerContent{
		width: 80%;
		margin-left: 10%;
		margin-right:10%;
		margin-top: 15%;
	}

	.logoPop{
		width:16%;
		padding-top:16%;
		margin-right:5%;
		background-image: url(../images/pestoLogo.png);
		background-size: 100%;
	}

	.projectNamePop{
		font-size: 2.75vw;
		margin-bottom:6%;
	}

	.projectLinkPop{
		font-size:1.1vw;
	}

	.dimensionPop{
		margin-top:3%;
		margin-bottom:2%;
	}

	.projectDescription{
		font-size:1vw;
		line-height:1.3vw;
		margin-bottom:20%;
	}

	.designerFace{
		width:10%;
		padding-top:10%;
		margin-right:5%;
		margin-bottom:2%;
		background-image: url(../images/headshot.webp);
		background-size: 100%;
		background-color: red;
	}

	.designerNamePop{
		font-size:1.25vw;
		margin-bottom:5%;
	}

	.designerLinksPop{
		font-size:1vw;
		margin-right:5%;
	}

	.designerDescription{
		font-size:.9vw;
		line-height:1.3vw;
		margin-bottom:20%;
		width:70%;
	}

	.flexChildDesigner{
		width:50%;
	}



